$headers: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$cursive: 'Berkshire Swash', cursive;
$transparentBackground: rgba(105,105,105, .8);

* {
   margin: 0px;
   padding: 0px;
}

#react-container {
  width: 100%;
}

header {
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $headers;
  background-color: rgb(105,105,105);

  a {
    color: #fff;

    h2 {
      text-decoration: none;
    }
  }

  h2 {
    margin-left: 10px;
  }

  #header-nav {
    margin: 5px;
    li {
      display: inline;
      margin: 10px;
    }
  }
}

#main {
  background: url(/assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.app {
  height: 80%;
}

#home-container {
  width: 70%;
  height: 100%;
  border: 15px solid #fff;
  margin: 35px auto;
  background-color: $transparentBackground;
  font-family: $cursive;
  text-align: center;
  color: #fff;
  h1 {
    padding-top: 8%;
    font-size: 5em;
  }
  h4 {
    padding-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
  }
}

#bio {
  width: 90%;
  margin: 5px auto;
  padding: 25px;
  color: white;
  font-family: $bodyFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 15px;
  }

  h2 {
    margin-bottom: 10px;
    font-family: $headers;
  }
}

#skills-column-one, #skills-column-two, #skills-column-three {
  width: 25%;
  margin: 10px;
}

#skills-container {
  width: 70%;
  border: 15px solid #fff;
  margin: 35px auto;
  background-color: $transparentBackground;
  color: #fff;
}

#skills-list {
  display: flex;
  justify-content: space-around;
  font-family: $bodyFont;
  padding-bottom: 25px;
  ul {
    list-style: none;
  }
  h3 {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  #skills-column-one, #skills-column-two, #skills-column-three {
    width: 100%;
  }

  #skills-list {
    flex-direction: column;
    ul {
      margin-left: 25px;
    }
  }
}

#skills-header {
  text-align: center;
  font-family: $headers;
}

// #skills-column-one, #skills-column-two {
//
// }

#project-container {
  background-color: #877A96;
  color: #fff;
  font-family: $bodyFont;
  padding-top: 25px;
  h2 {
    text-align: center;
  }
}

#a-book-a-week, #american-drapery-systems {
  display: flex;
}

#american-drapery-systems {
  border-top: 1px solid white;
}


.ads-project-image {
  display: flex;
  justify-content: center;
  width: 50%;
}

.ads-project-info {
  h3 {
    padding-top: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  li {
    padding: 5px;
  }
  margin-left: 10%;
  width: 40%;
}

.project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-info {
  h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  li {
    padding: 10px;
  }
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.project {
  height: 200px;
  width: 200px;
  margin: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
