$headers: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;


* {
   margin: 0px;
   padding: 0px;
}

#react-container {
  width: 100%;
}

header {
  margin: 0px 25px;
  padding-top: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $headers;
}

#main {
  background: url(/assets/06.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bio {
  width: 50%;
  margin: 5px auto;
  padding-top: 25px;
  color: white;
  font-family: $bodyFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: 10px;
    font-family: $headers;
  }
}

#skills-column-one, #skills-column-two, #skills-column-three {
  width: 25%;
  margin: 10px;
}

#skills-container {
  width: 60%;
  padding-top: 25px;
  color: white;
  padding-bottom: 25px;
  margin: 0 auto;
}

#skills-list {
  display: flex;
  justify-content: space-around;
  font-family: $bodyFont;
  ul {
    list-style: none;
  }
  h4 {
    text-align: center;
  }
}

#skills-header {
  text-align: center;
  font-family: $headers;
}

// #skills-column-one, #skills-column-two {
//
// }

#project-container {
  background-color: #877A96;
  color: #fff;
  font-family: $bodyFont;
  padding-top: 25px;
  h2 {
    text-align: center;
  }
}

#a-book-a-week, #american-drapery-systems {
  display: flex;
}

#american-drapery-systems {
  border-top: 1px solid white;
}


.ads-project-image {
  display: flex;
  justify-content: center;
  width: 50%;
}

.ads-project-info {
  h3 {
    padding-top: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  li {
    padding: 5px;
  }
  margin-left: 10%;
  width: 40%;
}

.project-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-info {
  h3 {
    text-align: center;
    margin-bottom: 50px;
  }
  li {
    padding: 10px;
  }
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.project {
  height: 200px;
  width: 200px;
  margin: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
